@{
  Layout = "_Layout";
}

@using VendorOrderTracker.Models;

<h1>@Model["vendor"].Name's Order Details: </h1>

<h3>Title: @Model["order"].Title, Description: @Model["order"].Description, Price: @Model["order"].Price, Amount: @Model["order"].Amount.</h3>
<br>
<h3>Description: @Model["vendor"].Description.</h3>
<br>
<a href='vendors/@Model["vendor"].Id/orders/new'>Add another order</a>
<br>
<a href='/vendors'>View all vendors</a>